<div class="container">


    <form class="form signup-form">
        <h2>Signup</h2>
        <div class="data">
            <label for="name-signup">name:</label>
            <input class="form-input" type="text" id="name-signup" />
        </div>
        <div class="data">
            <label for="email-signup">email:</label>
            <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="data">
            <label for="password-signup">password:</label>
            <input class="form-input" type="password" id="password-signup" />
        </div>
        <select class="data form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="manager">Manager</option>
            <option value="employee">Employee</option>

        </select>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">signup</button>
        </div>
    </form>

</div>

<script src="./js/signup.js"></script>