
.todo label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: #f3f3f3;
    padding: 1rem;
}

body {
    display: flex;
    justify-content: last baseline;
    align-items: left;
    min-height: 100vh;
    margin: 0;
    padding: 0; 
}

.btn {
    font-size: 20px;
    font-display: monospace;
    color: #fff;
    background-color: linear-gradient(to left,#8e8e8e,#8e2de2,#4a4a4a, #8e2de2);
    text-decoration: none;
    padding: 20px 70px;
    border-radius: 10px;
    background-size: 200%;
    transition: .5s;
}
  .btn:hover {
      background-position: right;
  }
  
 
